In [1]:
print("Hello World")

Hello World

In [2]:
a1 = 10
a1

10

In [3]:
a1 = 3.25
a1

3.25

In [4]:
type(a1)

float

In [5]:
a1 =3+4j
a1

(3+4j)

In [6]:
type(a1)

complex

In [7]:
a = 26
a2 = 52

In [8]:
print(a)

26

In [9]:
a>a2

False

In [10]:
Student = "Ram"
student = "joy"
student

'joy'

In [11]:
Student

'Ram'

In [12]:
student

'joy'

In [13]:
print(Student)

Ram

In [14]:
name = "Ram"
"I met "+ name + " yesterday"

'I met Ram yesterday'

In [15]:
print("I met "+ name +" yesterday")

I met Ram yesterday

In [16]:
print("Ram \" Academy")

Ram " Academy

In [17]:
print("Ram \ boy")

Ram \ boy

In [18]:
phrase = "Ram Pal"
print(phrase + " is cool")

Ram Pal is cool

In [19]:
print(phrase.upper())

RAM PAL

In [20]:
phrase.lower()

'ram pal'

In [21]:
print(phrase.upper().islower())

False

In [22]:
print(len(phrase))

7

In [23]:
phrase[5]

'a'

In [24]:
print(phrase[5])

a

In [25]:
print(phrase.index("P"))

4

In [26]:
print(phrase.replace("Ram", "Joy"))

Joy Pal

In [27]:
3+4

7

In [28]:
print(5+(2/6)*5)

6.666666666666666

In [29]:
my_num = 5
print(str(my_num) + " is my number")

5 is my number

In [30]:
num = 3.5
print(abs(num))

3.5

In [31]:
print(max(3,5))

5

In [32]:
print(min(3,5))

3

In [33]:
print(pow(3,4))

81

In [34]:
print(round(6.7))

7

In [35]:
from math import*
print(floor(3.7))
print(ceil(3.7))

3
4

In [36]:
print(ceil(3.7))

4

In [37]:
print(sqrt(36))

6.0

In [38]:
#TAKING INPUT FROM USER

name = input("Enter your name: ")
age = input("Enter your age: ")
print(name + " your age is " + age)

Enter your name: band
Enter your age: 26
band your age is 26

In [39]:
num1 = float(input("Enter number1: "))
num2 = float(input("Enter number2: "))
print(num1+num2)

Enter number1: 25
Enter number2: 26
51.0

In [40]:
# it will add two number as astring because inputs are taken as string by default
num3 =input("Enter number3: ")
num4 =input("Enter number4: ")
print(num3+num4)

Enter number3: 15
Enter number4: 36
1536

In [41]:
##LIST

friends = ["Ram", "Joy", "Rohit", "Kunal", "Sayan"]
lucky_num = [6, 5, 9, 26, 12, 19]
print(friends)

['Ram', 'Joy', 'Rohit', 'Kunal', 'Sayan']

In [42]:
print(lucky_num)

[6, 5, 9, 26, 12, 19]

In [43]:
friends.extend(lucky_num)
print(friends)

['Ram', 'Joy', 'Rohit', 'Kunal', 'Sayan', 6, 5, 9, 26, 12, 19]

In [44]:
friends = ["Ram", "Joy", "Rohit", "Kunal", "Sayan"]
lucky_num = [6, 5, 9, 26, 12, 19]
friends.append("Ankush")

In [45]:
print(friends)

['Ram', 'Joy', 'Rohit', 'Kunal', 'Sayan', 'Ankush']

In [46]:
friends.insert(2,"subha")

In [47]:
print(friends)

['Ram', 'Joy', 'subha', 'Rohit', 'Kunal', 'Sayan', 'Ankush']

In [48]:
friends.remove("Ankush")
print(friends)

['Ram', 'Joy', 'subha', 'Rohit', 'Kunal', 'Sayan']

In [49]:
friends.pop()
print(friends)

['Ram', 'Joy', 'subha', 'Rohit', 'Kunal']

In [50]:
friends.clear()
print(friends)

[]

In [51]:
friends = ["Ram", "Joy", "Rohit", "Kunal", "Sayan"]
lucky_num = [6, 5, 9, 26, 12, 19]
print(friends.index("Rohit"))

2

In [52]:
print(friends.count("Ram"))

1

In [53]:
friends.sort()
print(friends)

['Joy', 'Kunal', 'Ram', 'Rohit', 'Sayan']

In [54]:
lucky_num.sort()
print(lucky_num)

[5, 6, 9, 12, 19, 26]

In [55]:
lucky_num.reverse()
print(lucky_num)

[26, 19, 12, 9, 6, 5]

In [56]:
friends2 = friends.copy()
print(friends2)

['Joy', 'Kunal', 'Ram', 'Rohit', 'Sayan']

In [57]:
#TUPLES
coordinate = [(2,3), (5,6), (9,6)]
print(coordinate[2])

(9, 6)

In [58]:
#FUNCTION
def say_hi(name, age):
    print("Hello "+ name+ " you are "+ str(age))
print("Top")    
say_hi("Surajit", 20)

Top
Hello Surajit you are 20

In [59]:
def cube(num):
    return num*num*num
print(cube(4))

64

In [60]:
is_male =False

if is_male:
    print("You are a male")
else:
    print("You are not a male")

You are not a male

In [61]:
is_male = True
is_tall = False

if is_male or is_tall:
    print("You are male or tall or both")
else:
    print("You are either male or tall")

You are male or tall or both

In [62]:

if is_male and is_tall:
    print("You are a tall male")
else:
    print("You are neither not male nor not tall or both")

You are neither not male nor not tall or both

In [63]:
is_male = True
is_tall = False

if is_male and is_tall:
    print("You are a tall male")
elif is_male and not(is_tall):
    print("You are a short male")
elif not(is_male) and is_tall:
    print("You are not a male but you are tall")
else:
    print("You are either not male or not tall or both")

You are a short male